
*
{
    padding:0;
    margin:0;
    box-sizing: ;
}
:root
{
    --fstcol:#030303;
    --font:white;
    --maincolor:#fac12f;
    --top:#272830;
}

body
{
    background-color:var(--fstcol) ;
}
.certification
{
    position: absolute;
    top:50%;
    z-index: 8;

}

span
{
    color: var(--maincolor);
}
h1
{
    color:var(--font);
}
.grid-container
{
  display:inline-flex;
  position: absolute;
  height: 40%;
  width: 100%;
  margin-top: 1%;
  /* scroll-snap-type:x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-color: black; */
  
}
.grid-item
{
    position: relative;
    background-color: var(--maincolor);
    justify-content: center;
    height:100%;
    width: 50%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    border-radius: 2%;
}
.grid-image
{   position: relative;
    left:23%;
    width: 50%;
    height: 48%;
    margin: 2%;
    border-radius: 5%;
    border: 7px solid black;
}
.event-name
{
    text-align: center;

}
.event-info
{
    position: relative;
    top:8%;
    left:2%;
   
}
@media screen and (max-width:450px)
{
 
}
